<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.GoodsMapper">

    <insert id="insert">
        INSERT INTO Goods ()
        VALUES (#{id},#{username},#{password},#{email},#{bio})
    </insert>

    <select id="select" parameterType="string" resultType="com.plateer.domain.Goods">
        SELECT *
        FROM Goods
        WHERE goodsCode = #{goodsCode}
    </select>

    <select id="selectThumbnail" resultType="com.plateer.domain.GoodsThumbnail">

        SELECT goodsCode, imgUrl, copy, title, originalPrice, dcRate, saleCnt
        FROM Goods
        WHERE goodsCode IN (
                            SELECT goodsCode
                            FROM CategoryGoods
                            WHERE categoryCode = #{categoryCode})
        LIMIT #{quantity}
    </select>

    <select id="selectCart" parameterType="java.util.List" resultType="com.plateer.domain.CartGoods">
        SELECT goodsCode, imgUrl, seller, title, originalPrice, shippingFee, dcRate
        FROM Goods
        WHERE goodsCode IN
        <foreach collection="list" item="goodsCode" index="index" separator="," open="(" close=")">
            #{goodsCode}
        </foreach>
    </select>


    <update id="update">
        UPDATE Goods SET


        where goodsCode = #{goodsCode}
    </update>

    <delete id="delete">
        DELETE
        FROM Goods
        WHERE goodsCode = #{goodsCode}
    </delete>
</mapper>