<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.GoodsMapper">

    <insert id="insert">
        INSERT INTO Goods ()
        VALUES (#{id},#{username},#{password},#{email},#{bio})
    </insert>

    <select id="select" parameterType="string" resultType="com.plateer.domain.Goods">
        SELECT * FROM Goods WHERE goodsCode = #{goodsCode}
    </select>

    <update id="update">
        UPDATE Goods SET


        where goodsCode = #{goodsCode}
    </update>

    <delete id="delete">
        DELETE FROM Goods WHERE goodsCode = #{goodsCode}
    </delete>
</mapper>