<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.GoodsOptionMapper">

    <insert id="insert">
        INSERT INTO GoodsOption ()
        VALUES (#{goodsCode}, #{optionText})
    </insert>

    <select id="select" parameterType="string" resultType="com.plateer.domain.Option">
        SELECT text, text AS "value"
        FROM GoodsOption
        WHERE goodsCode = #{goodsCode}
        ORDER BY text;
    </select>

    <update id="update">
        UPDATE GoodsOption
        SET text = newOption
        WHERE goodsCode = #{goodsCode} AND text = #{optionText}
    </update>

    <delete id="delete">
        DELETE
        FROM GoodsOption
        WHERE goodsCode = #{goodsCode} AND text = #{optionText}
    </delete>
</mapper>