<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.CategoryMapper">

    <insert id="insert">

    </insert>

    <select id="select" resultType="com.plateer.domain.Category">
        SELECT *
        FROM Category
        WHERE categoryCode = #{categoryCode}
    </select>

    <select id="selectCategoryList" resultType="com.plateer.domain.Category">
        SELECT uuid, categoryCode, name, parentsCode
        FROM Category
        WHERE parentsCode = #{categoryCode}
        ORDER BY priority
    </select>

    <select id="selectCategoryGoods" resultType="java.lang.String">
        SELECT goodsCode
        FROM CategoryGoods
        WHERE categoryCode = #{categoryCode}
    </select>

    <select id="selectGoodsCategory" resultType="com.plateer.domain.Category">
        SELECT *
        FROM Category
        WHERE categoryCode IN (SELECT categoryCode
                                FROM CategoryGoods
                                WHERE goodsCode = #{goodsCode})
    </select>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>
</mapper>