<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.GoodsMapper">

    <insert id="insert" parameterType="com.plateer.domain.Goods">
        INSERT INTO Goods
        VALUES (
                #{goods.uuid}, #{goods.goodsCode}, #{goods.imgUrl}, #{goods.modelNo}, #{goods.seller}, #{goods.copy},
                #{goods.title}, #{goods.originalPrice}, #{goods.shippingFee}, #{goods.dcRate}, #{goods.saleCnt},
                #{goods.shippingDays}, #{goods.notice}, #{goods.goodsDetail}, null, null, null)
    </insert>

    <select id="select" parameterType="string" resultType="com.plateer.domain.Goods">
        SELECT *, (originalPrice * (100 - dcRate) / 100) AS benefitPrice
        FROM Goods
        WHERE goodsCode = #{goodsCode}
    </select>


    <select id="selectCategory" resultType="com.plateer.domain.GoodsThumbnail">
        SELECT goodsCode, imgUrl, seller, copy, title, originalPrice, dcRate, saleCnt, (originalPrice * (100 - dcRate) /
        100) AS benefitPrice
        FROM Goods
        WHERE goodsCode IN (
        SELECT goodsCode
        FROM CategoryGoods
        WHERE categoryCode = #{categoryCode})
        ORDER BY
        <choose>
            <when test="sort == 'goodsCode/DESC'">
                goodsCode DESC
            </when>
            <when test="sort == 'saleCnt/DESC'">
                saleCnt DESC
            </when>
            <when test="sort == 'benefitPrice/ASC'">
                benefitPrice ASC
            </when>
            <when test="sort == 'benefitPrice/DESC'">
                benefitPrice DESC
            </when>
        </choose>
    </select>

    <select id="selectThumbnail" resultType="com.plateer.domain.GoodsThumbnail">
        SELECT goodsCode, imgUrl, copy, title, originalPrice, dcRate, saleCnt, (originalPrice * (100 - dcRate) / 100) AS benefitPrice
        FROM Goods
        WHERE goodsCode IN (
                            SELECT goodsCode
                            FROM CategoryGoods
                            WHERE categoryCode = #{categoryCode})
        LIMIT #{quantity}
    </select>

    <select id="selectCart" parameterType="java.util.List" resultType="com.plateer.domain.CartGoods">
        SELECT goodsCode, imgUrl, seller, title, originalPrice, shippingFee, dcRate, (originalPrice * (100 - dcRate) /
        100) AS benefitPrice
        FROM Goods
        WHERE goodsCode IN
        <foreach collection="list" item="goodsCode" index="index" separator="," open="(" close=")">
            #{goodsCode}
        </foreach>
    </select>

    <select id="selectSearch" resultType="com.plateer.domain.GoodsThumbnail">
        SELECT goodsCode, imgUrl, seller, copy, title, originalPrice, dcRate, saleCnt, (originalPrice * (100 - dcRate) /
        100) AS benefitPrice
        FROM Goods
        <where>
            <if test="query != ''">
                (title LIKE CONCAT("%", #{query}, "%") OR seller LIKE CONCAT("%", #{query}, "%"))
            </if>
            <if test="categoryCode != ''">
                categoryCode = #{categoryCode})
            </if>
            <if test="minPrice != ''">
                AND (benefitPrice >= #{minPrice} AND benefitPrice >= #{maxPrice})
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="sort == 'goodsCode/DESC'">
                goodsCode DESC
            </when>
            <when test="sort == 'saleCnt/DESC'">
                saleCnt DESC
            </when>
            <when test="sort == 'benefitPrice/ASC'">
                benefitPrice ASC
            </when>
            <when test="sort == 'benefitPrice/DESC'">
                benefitPrice DESC
            </when>
        </choose>
    </select>

    <update id="update">
        UPDATE Goods
        SET imgUrl = #{newGoods.imgUrl},
            modelNo = #{newGoods.modelNo},
            seller = #{newGoods.seller},
            copy = #{newGoods.copy},
            title = #{newGoods.title},
            originalPrice = #{newGoods.originalPrice},
            shippingFee = #{newGoods.shippingFee},
            dcRate = #{newGoods.dcRate},
            saleCnt = #{newGoods.saleCnt},
            shippingDays = #{newGoods.shippingDays},
            notice = #{newGoods.notice},
            goodsDetail = #{newGoods.goodsDetail}
        where goodsCode = #{goods.goodsCode}
    </update>

    <delete id="delete">
        DELETE
        FROM Goods
        WHERE goodsCode = #{goodsCode}
    </delete>
</mapper>